body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgb(220, 245, 234);
    font-size: 1.2em;
}


.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.bayan {
    width: 100%;
}

.bayan-row {
    border-top: solid 0.1rem black;
    cursor: pointer;
}

.bayan-row-name {
    display: flex;
    flex-direction: column;
}

.bayan-row-name:active {
    opacity: 0.6;
}

.bayan-row-name-header {
    display: flex;
    justify-content: space-between;
    color: rgb(33, 136, 20);
}

.bayan-row-name-input {
    width: 0;
    height: 0;
    opacity: 0;
}

.meme {
    height: 0;
    width: 0;
    transition: all 0.5s ease-in-out;
}

#row1:checked~.bayan-row-name>.meme {
    width: 30%;
    height: auto;
    transition: width 0.5s ease-in-out;
}